:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
}

@font-face {
  font-family: "Pixellari";
  font-style: normal;
  src: local("Pixellari"), url(@/assets/Pixellari.ttf) format("truetype");
}

.jittery {
  display: inline-block;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
  margin: 1vw;
}

@keyframes jitter {
  50% {
    transform: skewY(1deg) skewX(-1deg) scale(1.004);
  }
}

@keyframes jitterY {
  50% {
    transform: translateY(8px);
  }
}

@keyframes jitterYMinus {
  50% {
    transform: translateY(8px);
  }
}

.jittery-container {
  text-align: center;
  width: 100%;
}

.jittery-container span:nth-child(odd) {
  animation: jitter 250ms linear infinite, jitterY 5000ms linear infinite;
  color: black;
}

.jittery-container span:nth-child(even) {
  animation: jitter 200ms linear infinite, jitterY 5000ms reverse infinite;
  color: red;
}

.audio-container {
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

audio {
  height: 32px;
  width: 90vw;
}
